#header {
    height: 50px;
    width: 100vw;
    background-color: rgb(7, 7, 7);
    display: flex;
    padding: 0px 10px;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;



}

.link-out {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    color: white;

}
.link-out-2 {
    display: flex;
    width: 20%;
    justify-content: space-around;
    color: white;

}



.link1 {
    color:rgb(88, 92, 88);
    display: flex;
    justify-content: left;
}

.link2 {
    color: white;


}

.bigbox {
    height: 600px;
    width: 100%;
    background-color: grey;
    justify-content: center;
    font-size: x-large;   
    
}

.lowerbox {
    height: 200px;
    width: 100%;
    background-color: lightgrey;
}

img{
    height: 500px;
    width: 100%;
}

.bottombox {
    height: 400px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
}